@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes toast-no-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.toast-no-animation {
  animation: toast-no-animation 1ms linear both;
}
